[KSplash Theme: sidux-nyx]
Name = sidux-nyx
Description = sidux 2008-01 Nyx ksplash theme
Version = 1.0
Author = Bernard Gray <bernard.gray@gmail.com>
Homepage = http://sidux.com
Engine = Moodin

BeginOpacity = 0.1
BaseResolution = 1600,1200

UseIconSet = false
LabelShadow = false

Image1 = ./phase1.png
Image2 = ./phase2.png
Image3 = ./phase3.png
Image4 = ./phase4.png
Image5 = ./phase5.png
Image6 = ./phase6.png
Image7 = ./phase7.png

ImageCoords1 = 499,586
ImageCoords2 = 599,609
ImageCoords3 = 679,609
ImageCoords4 = 759,609
ImageCoords5 = 839,609
ImageCoords6 = 919,609
ImageCoords7 = 999,609

LineUpImages = false

Labels = 1
Label1 = Please Wait
LabelFont1 = Verdana,20,-1,0,0,0
LabelColor1 = #FFFFFF
LabelCoords1 = -1,467

StatusCoords = -1,545
StatusColor = #FFFFFF
StatusFont = Verdana,12,-1,0,0,0

ImageOffset1 = 0,20
